@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-register{
  width: 95%;
  max-width: 500px;
  background: #24303c;
  padding: 20px;
}

.form__title{
  margin-top: 0;
  font-size: 1.7em;
  text-align: center;
  color: white;
}

.form__title a{
  text-decoration: none;
  color: #fff;
}

.form_label, .form_input {
  display: block;
}
.form_label{
  width: 30%;
  color: white;
  font-size: 15px;
}
.form_input{
  width: 70%;
  padding: 10px;
  font-size: 1em;
  background: white;
}

.forlabel{
  color: white;
}
.form_file{
  font-size: 1em;
  margin: 10px 0;
  width: 100%;
  color: white;
}
.container--flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.form_submit{
  width: 100%;
  background: #1f53c5;
  padding: 10px;
  border: none;
  color: white;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}