@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

:root{
  --primary: #084073;
  --secondary: #267a96;
  --gold-brown: #ffa333;
  --text-color: #e6e6e6;
  --links: #ec972e;
  --bg-color-gradient: linear-gradient(70deg,#084073, #267a96 );
  --trazo-gradient: linear-gradient(70deg, #ffa333, #fdb55d);
  --form-text: #49454567;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**utilidades**/
.padding{
  padding-top: 25px;
  padding-bottom: 20px;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/**Barra de navegación**/

header{
  position: sticky;
  top: 0px;
  background: var(--bg-color-gradient);
  width: 100%;
  z-index: 1000;
  height: 4.6rem;
  border-bottom: 10px solid var(--gold-brown);
}
.container{
  max-width: 75rem;
  padding: .7rem 0;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container{
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-container a{
  color: var(--text-color);
}

.logo-container img{
  padding-top: 15px;
}

.nav-btn{
  flex: 3;
  display: flex;
}

.nav-links{
  flex: 2;
}

.logo{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
}

.logo img{
  width: 50px;
  padding-bottom: 5px;
}


.nav-links > ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link{
  position: relative;
}

.nav-link > a{
  color: var(--text-color);
  padding: 0 2.4rem;
  letter-spacing: 1px;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
  text-align: center;
  cursor: pointer;
}

.nav-link > a > i{
  margin-left: .2rem;
}

.nav-link:hover > a{
  transform: scale(1.1);
  color: var(--gold-brown);
}

.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  padding-top: 8px;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul{
  position: relative;
}

.dropdown-link > a{
  display: flex;
  background: #fff;
  color: var(--secondary);
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover > a{
  background: var(--secondary);
  color: var(--gold-brown);
}

.dropdown-link:not(:nth-last-child(2)){
  border-bottom: 1px solid #efefef;
}

.arrow, .arrow-2{
  position: absolute;
  width: 11px;
  height: 11px;
  top: -6.5px;
  left: 32px;
  background: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: 1;
}

.arrow-2{
  top: -5.5px;
}


.dropdown-link:first-child:hover ~ .arrow{
  background: var(--secondary);
}

.dropdown-link:first-child:hover ~ .arrow-2{
  background: var(--secondary);
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

/**Menu hamburguesa**/

.hamburger-menu-container{
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div{
  width: 1.8rem;
  height: 3px;
  background: var(--text-color);
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: var(--text-color);
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before{
  transform: translateY(-7px);
}

.hamburger-menu div:after{
  transform: translateY(7px);
}

#check{
  position: absolute;
  top: 50%;
  right: 0;
  background: black;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div{
  background: transparent;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div:before{
  transform: translateY(0) rotate(-45deg)
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div:after{
  transform: translateY(0) rotate(45deg)
}

@keyframes animation{
  from{
    opacity: 0;
    transform: translateY(15px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width:1082px){
  .hamburger-menu-container{
    display: flex;
    padding-right: 20px;
  }

  .logo{
    padding-left: 20px;
  }

  #check{
    display: block;
    padding-right: 20px;
  }

  .nav-btn{
    position: fixed;
    height: calc(100vh - 3rem);
    top: 4.6rem;
    left: 0;
    width: 100%;
    background: var(--secondary);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
  }

  #check:checked ~ .nav-btn{
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link{
    animation: animation .5s ease forwards var(--i);
  }

  .nav-links{
    flex: initial;
    width: 100%;
  }

  .nav-links > ul{
    flex-direction: column;
  }

  .nav-link{
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a{
    line-height: 1;
    padding: 1.4rem 2rem;
  }

  .nav-link:hover > a{
    transform: scale(1);
    background:#288aaa;
  }

  .dropdown{
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background: #0a6f91;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown{
    display: block;
  }

  .nav-link:hover > a > i{
    transform: rotate(360deg);
  }

  .dropdown-link > a{
    background: transparent;
    color: var(--text-color);
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown-link:not(:nth-last-child(2)){
    border-bottom: none;
  }

  .arrow{
    top: -5.5px;
  }

  .arrow, .arrow-2{
    z-index: 1;
    background: #0a6f91;
    left: 5%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s;
  }

  .nav-link:hover .arrow{
    background: #288aaa;
  }

  .nav-link:hover .arrow-2{
    background: #288aaa;
  }

  .dropdown .dropdown .arrow{
    display: none;
  }

  .dropdown-link:hover > a{
    background: #3a91bd;
  }

  .dropdown-link:first-child:hover ~ .arrow{
    background: #288aaa;
  }

  .nav-link > a > i{
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .dropdown i{
    font-size:  1rem;
    transition: .7s;
  }
}



/**slides imagenes**/

#slider{
  overflow: hidden;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img{
  width: 20%;
  float: left;
}

@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
   left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}

/**Contenido**/

main{
  padding-bottom: 20px;
}

section .container-text{
  width: 80%;
  margin: 1rem auto .5rem;
  
}

section .container-text h1{
  text-align: center;
  padding: 1.5rem;
  font-weight: 600;
}

section .container-text p a{
  color: var(--links);
}

section .container-text p{
  text-align:  justify;
  word-spacing: 3px;
}

.container-qs-images{
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;

}

.images-qs{
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.link-camp{
  padding: 20px 0;
  text-align: center;
}

.link-camp a{
  color: var(--links);
}

.img-qs{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.line-ini{
  width: 100%;
  margin: 0 auto;
  border-top: 15px solid var(--gold-brown);
}

.line{
  width: 90%;
  margin: 0 auto;
  border-top: 4px solid var(--links);
}

/**Logros**/

.container-achievement{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#achievements{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.achievement{
  margin: 0 auto;
  line-height: 40px;
  padding-bottom: 20px;
}

/**Oferta academica**/

.container-of{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.image-overlay a{
 color: var(--text-color);
}

.image{
  position: relative;
  width: 300px;
}

.image-img{
  display: block;
  width: 90%;
}

.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.50s;
}

.image-overlay-blur{
  backdrop-filter: blur(5px);
}

.image-overlay > *{
  transform: translateY(20px);
  transition: transform 0.50s;
}

.image-overlay:hover{
  opacity: 1;
}

.image-overlay:hover > *{
  transform: translateY(0)
}

.image-title{
  font-size: 1.4em;
  font-weight: 600;
}

.image-desc{
  font-size: .8em;
  margin-top: .25em;
}

/**Oferta academica - General**/
.cont-gen{
  text-align: center;
}

.cont-gen h1{
  padding: 30px 0;
}

.container-general{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.generalidades{
  width: 200px;
}

.container-general img{
  border-radius: 5px;
}

.container-text-of{
  width: 80%;
  margin: 0 auto;
}

.container-text-of h1{
  padding: 40px 0 30px 0;
  text-align: center;
}

.container-text-of p{
  text-align: justify;
  padding-bottom: 60px;
}

.imagen-mid{
 width: 400px;
 height: 300px;
}

.img-general{
  width: 100%;
  height: 100%;
}

.neg1{
  padding-top: 40px;
  font-weight: bold;
}

.icons-gen{
  width: 200px;
}

.icons-gen i{
  font-size: 50px;
}

.icons-gen p{
  padding: 15px 0;
}

.img-foot-of{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-of{
  width: 600px;
  height: 400px;
  padding-bottom: 50px;
  padding-left: 5px;
}


.img-foot{
  width: 100%;
  height: 100%;
  padding: 50 10px;
  border-radius: 5px;
  
}

/**Autoridades**/
.autoridades{
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem
}

.autoridades h1{
  text-align: center;
  font-weight: 600;
}

.container-aut{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;  
}

.link-pd{
width: 100%;
padding: 30px 0;
text-align: center;
}

.link-pd a{
 color: var(--links);
 right: 5;
}

.images-aut{
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.images-aut h1{
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.images-aut p{
  text-align: center;
}



.profes{
  font-weight: 500;
}

.image-img-aut{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 50%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/**Noticias**/

.noti-index h1{
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
}

.noti-index .container-text h2{
  text-align: center;
  padding: 30px 0;
}

.container-noti{
  display: flex;
  justify-content: space-between;
  align-items: center;
 width: 80%;
 margin: 0 auto;
 padding-bottom: 50px;
}

.text-cont{
  width: 90%;
  padding-top: 30px;
}

/**Noticia layout**/

.noti{
  width: 600px;
}

.container-noticias{
  padding-top: 20px;
}


.part1-noti{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px 0 10px;
}

.part1-noti .container-text h1{
  text-align: left;
  padding: 0 0 20px 0;
}

.part3-noti .container-text h1{
  text-align: left;
  padding: 0 0 20px 0;
}

.part2-noti{
  width: 90%;
  margin: 0 auto;
}

.part3-noti{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 50px;
}

.container-img-noti2{
  width: 350px;
  height: 200px;
  padding-left: 40px;
}

.container-img-noti2 img{
  border-radius: 20px;
}

.img-noti2{
  width: 100%;
  height: 100%;
}

.part2-noti .container-text{
   text-align: justify;
}

.part2-noti .container-noticias{
  text-align: center;
  padding-top: 0px;
}

.part2-noti .container-noticias h1{
  font-size: 24px;
  padding-bottom: 30px;
}

.container-img-noti{
  width: 600px;
  height: 300px;
  padding-left: 40px;
}

.container-img-noti img{
  border-radius: 20px;
}

.img-noti{
  width: 100%;
  height: 100%;
}

.imgcontainer-noti{
  width: 90%;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.imgcontainer-noti .container-img-noti{
  width: 600px;
  height: 300px;
  padding-left: 40px;
}

/**foother**/

footer{
  width: 100%;
  background: linear-gradient(70deg, rgba(79,78,78,1) 0%, rgba(60,60,60,1) 100%);
  padding: 20px 0;
}

.container-foo{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.text-foo{
  width: 90%;
}

.text-foo p{
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-foo i{
  font-size: 20px;
  padding-right: 8px;
}

.image-footer{
  width: 90px;
}

.logo-redes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.logo-redes i{
  font-size: 40px;
  padding: 5px 0 5px 10px;
  color: var(--text-color);
}

.logo-redes i:hover{
  color: var(--links);
  transition: all .80s ease;
}


.neg{
  font-weight: 700;
}

/**Biografía**/

.container-biografia{
  text-align: center;
  padding-top: 40px;
}

.part1{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 10px;
}

.container-img-bio{
  width: 900px;
  height: 400px;
  padding-right: 40px;
}

.container-img-bio img{
  border-radius: 20px;
}

.img-biografía{
  width: 100%;
  height: 100%;
}

.part2{
  width: 90%;
  margin: 0 auto;
}

.part2 .container-text p{
 padding-bottom: 20px;
 text-align: justify;
}

.part3{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 10px;
}

.container-img-bio1{
  width: 250px;
  height: 300px;
  padding-left: 60px;
  padding-bottom: 70px;
}


.container-img-bio1 img{
  border-radius: 20px;
}

.part4{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 80px 0;
}

.imagen-container-dp{
  width: 600px;
  height: 350px;

}

.img-dp-foot{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/**Contacto pagina**/

.bg-cont{
 width: 100vw;
 height: 110vh;
}

.bg-img-cont{
 width: 100vw;
 height: 110vh;
 position: absolute;
 z-index: 0;
}

.container-contactanos{
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

form{
  background: #ffffff;
  width: 30%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  margin: auto;
}

form h1{
  text-align: center;
  margin: 10px 0;
  font-weight: 800;
}

form .group{
  position: relative;
  margin: 45px;
}

input, textarea{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--form-text);
  resize: none;
}

input:focus, textarea:focus{
  outline: none;
  color:  rgb(94, 93, 93);
}

input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
 position: absolute;
 top: -14px;
 font-size: 12px;
 color: var(--links);
}

label{
  color: var(--form-text);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: .5s ease all;
  pointer-events: none;
}

input:focus ~.bar::before, textarea:focus ~.bar::before{
  width: 100%;
}

.bar{
  position: relative;
  display: block;
  width: 100%;
}

.bar::before{
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--links);
  transition: .3s ease all;
  left: 0%;
}

button{
  background: var(--secondary);
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}

button:hover{
  background: #25728b;
  color: var(--links);
  transition: .5s all ease;
}

.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: var(--links);
  padding: 20px 0 20px 0;
}

/**Responsive content**/

@media (max-width:933px){

  form{
  width: 50%;
}

  section #achievements{
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .images-qs{
    width: 400px;
    height: 300px;
    display: block;
}

.container-img-bio{
  width: 700px;
  height: 300px;

}

.cont-gen h1{
  padding-bottom: 0;
}

.container-general{
  width: 90%;
}

.container-text-of{
  width: 90%;
}

.imagen-mid{
  width: 300px;
  height: 200px;
}

}

@media (max-width:728px){

  form{
    width: 60%;
  }

  section #achievements{
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .image-title{
  color: transparent;
  font-size: 1.4em;
  font-weight: 600;
}

.image-desc{
  color: transparent;
  font-size: .8em;
  margin-top: .25em;
}

.container-aut{
  display: block;
}

.container-aut img{
  padding-top: 20px;
}

.container-noti{
  display: block;
  width: 100%;
}

.noti{
  width: 500px;
  margin: 0 auto;
}

.part1{
  display: block;
}

.container-img-bio{
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

.container-img-of{
  width:400px;
  height: auto;
  margin: 0 auto;
}

.img-foot-of{
  display: block;
}

.icons-gen i{
  font-size: 40px;
}

.cont-gen p{
 font-size: 13px;
}

}

@media (max-width:551px){
  
  form{
    width: 80%;
  }

  section #achievements{
    display: block;
    width: 90%;
  }

  .achievement{
   margin: 0 auto;
   line-height: normal!important;
   text-align: center;
  }

  .image-title{
  color: transparent;
  font-size: 1.4em;
  font-weight: 600;
}

.image-desc{
  color: transparent;
  font-size: .8em;
  margin-top: .25em;
}

.part1{
  width: 100%;
}

.part2{
  width: 80%;
}

.part3{
  display: block;
  width: 95%;
}

.container-img-bio1{
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 0;
  height:auto;
}

.container-img-bio{
  width: 400px;
  height: 300px;;
}

.imagen-container-dp{
  width: 400px;
  height: 200px;
}

.container-general{
  display: block;
}

.generalidades{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.imagen-mid{
  margin: 0 auto;
  width: 400px;
  height: auto;
}

.icons-gen{
  margin: 0 auto;
  padding-top: 30px;
}

.icons-gen i{
  font-size: 60px;
}

.cont-gen p{
 font-size: 18px;
}

.container-text-of p{
  width: 90%;
  margin: 0 auto;
}

.noti{
  width: 400px;
}

}

@media (max-width:439px){

  form{
    width: 90%;
  }

  .images-qs{
    width: 300px;
    height: 200px;
}

.image-footer{
  width: 0px;
}

.container-img-bio{
  width: 325px;
  height: 250px;;
}

.imagen-container-dp{
  width: 350px;
  height: 200px;
}

.imagen-mid{
  margin: 0 auto;
  width: 350px;
  height: auto;
}

.container-img-of{
  width: 350px;
}

.noti{
  width: 350px;
}
}


